.body {
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Sarabun', sans-serif;

}

/*-----------events_large----------- */
.events_large {
    padding: 14rem 9vw;
    box-sizing: border-box;
    margin-bottom: 20vh;

    align-items: center;
    justify-content: center;
}


.events-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.events-title:before {
    content: "";
    background-image: url(../pic/reddot.svg);
    position: absolute;
    width: 27.5rem;
    height: 108px;
    background-size: 54px auto;
    transform: translate(44rem, 19rem);
    z-index: -1;
}

.events-title:after {
    content: "";
    background-image: url(../pic/reddot.svg);
    position: absolute;
    width: 21.5rem;
    height: 157px;
    background-size: 32px auto;
    transform: translate(-28rem, -1rem);
    z-index: -1;
}

.events-title h1 {
    font-size: 4rem;
    line-height: 1.3em;
    font-weight: 400;
    color: #E64B38;
    font-family: "Sarabun""Noto Sans TC";
}


.events-title h4 {
    font-weight: 300;
    font-size: 19px;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #555555;
}


.line1.long_line {
    margin: 30px auto;
}

.p-header__list {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-header__item {
    margin: 0 5%;
    position: relative
}

.p-header__item:before {
    content: "";
    display: none;
    position: absolute;
    top: -2px;
    left: -12px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-top: 1px solid #ffffff;
    border-radius: 20px 20px 0 0
}


@media screen and (min-width:801px) {
    .p-header__item:hover .p-header__link:before {
        transform: translate(0, 0)
    }

    .p-header__item:hover .p-header__link .text {
        color: #E64B38
    }
}

.p-header__item.is-current .p-header__link:before {
    transform: translate(0, 0)
}

.p-header__item.is-current .p-header__link .text {
    color: #E64B38
}

.p-header__link .text {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .065em;
    position: relative;
    z-index: 2
}

.p-header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    width: 150px;
    line-height: 40px;
    border-radius: 10px;
    background-color: #E64B38;
    padding: 0 9px;
    border: 2px solid #E64B38;

    overflow: hidden;
    position: relative;
    text-decoration: none;
}

/* @media screen and (max-width:800px){.p-header__link{border-top:none;border-radius:0 0 5px 5px;height:40px;line-height:40px}}*/
.p-header__link:before {
    content: "";
    display: block;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0%, 100%);
    border-radius: 8px;
    background-color: #fff;
    z-index: 1;
    transition: transform .3s cubic-bezier(.15, .62, .43, .8)
}

/* @media screen and (max-width:800px){.p-header__link:before{border-radius:0}}.p-header__link .icon{margin:0 5px 0 0;position:relative;z-index:2} */
@media screen and (max-width:800px) {
    .p-header__link .icon {
        margin: 0
    }
}

.p-header__link .text {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .065em;
    position: relative;
    z-index: 2
}

/* @media screen and (max-width:800px){.p-header__link .text{font-size:13px;letter-spacing:.035em}} */



/*  */

.events_frame {
    padding-top: 10vh;
    align-items: center;
    justify-content: center;

}


.events_frame .print__link {
    margin-bottom: 20px;

}


.c-products__pic {
    overflow: hidden;
    height: 300px;
}

.c-products__pic img {
    transform: scale(1);
    transition: transform 1s ease 0s;
}

.c-products:hover .c-products__pic img {
    transform: scale(1.2)
}

.c-products__price {
    transition: color .25s ease 0s
}

.c-products:hover .c-products__price {
    color: #E64B38
}


/*  */
@media screen and (min-width:800px) {
    .events_frame li {
        height: 45vh;
        margin: 0 auto;
    }

    .events_frame.print__image {
        height: 45vh;
        object-fit: contain;
    }

    /* .print__link{width: 70vw;} */
}



.events_frame li {
    display: flex;
    box-sizing: border-box;
    transition: transform .3s cubic-bezier(.15, .62, .43, .8)
}

.events_frame li:hover {
    transition: all .5s cubic-bezier(.15, .62, .43, .8)
}



.date_box_row {

    width: 100%;
    margin: 0 0 0 0;
    justify-content: flex-start;
}

.events_frame .print__image {
    width: 59%;
    height: auto;

}

.events_frame .text_frame {
    padding: 0 0 0 3rem;
    align-self: center;

}

h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #E64B38;

}

.date_box_row .date_line {
    background-color: #5A5657;
    width: 43px;
    margin: 0 10px;
}

.date_box_row .date_box {
    color: #5A5657;
    margin: auto;
    padding-top: 20px;
}

.time {
    font-size: 20px;
    color: #5A5657;
    font-family: 'Futura PT';
    padding-left: 20px;
    line-height: 20px;
}

.events_frame .arrow-wrap {
    position: absolute;
    bottom: 6rem;
    right: 8rem;
}


.day {
    line-height: 1;
    font-size: 1.9rem;
    font-weight: bold;
}

.yaer {
    margin-bottom: 0;
}

.date_box {
    display: flex;
    color: #E64B38;
    width: 9rem;
    margin: 0 0 0 0;
    padding-left: 10px;
    align-items: flex-end;
}

.time {
    font-size: 1.4rem;
    color: #8c8c8c;
    font-family: 'Futura PT';
}


.m-card-product .card-exp-location {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: -o-linear-gradient(top, transparent 0, rgba(0, 0, 0, .6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="rgba(0,0,0,0)", endColorstr="rgba(0,0,0,0.6)", GradientType=0);
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .6));
    z-index: 11;
    pointer-events: none;
}

.m-card-product .card-exp-location__wrapper {
    width: calc(100% - 42px);
    color: #fff;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    font-size: 12px;
    height: 36px;
}

.m-card-product .card-exp-location__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
}

.m-card-product .card-exp-location__wrapper svg {
    width: 18px;
    height: 18px;
    margin-right: 2px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}




@media (max-width: 770px) {
    html {
        overflow-y: scroll
    }

    button {
        cursor: pointer
    }

    .ex-link:hover {
        opacity: .5
    }

    header {
        height: 56px
    }

    .logo {
        position: absolute;
        top: -8px;
    }

    .logo img {
        width: 125px;
    }

    .events_large {
        padding: 99px 0px;
        margin-bottom: 140px;
    }

    .events-title:before {
        display: block;
    }

    .events-title h1 {
        font-size: 27px;
    }

    .events-title {
        margin-top: 67px;
        margin-bottom: 49px;
    }

    .p-header__list {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .events-title:before {
        width: 95px;
        height: 130px;
        background-size: 22px auto;
        width: 93px;
        width: 90px;
        transform: translate(160px, 10px);
        transform: translate(160px, 90px);
        z-index: -5;
        transform: translate(145px, -83px);
    }

    .events-title:after {
        content: "";
        background-image: url(../pic/reddot.svg);
        position: absolute;
        width: 129px;
        height: 93px;
        background-size: 45px auto;
        transform: translate(-167px, 3rem);
        z-index: -1;
    }

    .line1.long_line {
        margin: 0 auto;
        position: absolute;
        top: 316px;
        border-top: 9px solid;
        width: 100%;
    }

    .p-header__list {
        display: none;
    }

    .events_frame {

        align-items: center;
        justify-content: center;
    }

    .print__link {

        border-radius: 10px;
        border-top: 2px solid #5A5657;
        border-right: 2px solid #c8c8c8;
        border-bottom: 2px solid #c8c8c8;
        border-left: 2px solid #5A5657;
        box-shadow: 2px 2px #e64b38;
        padding: 5px 5px 5px;
        margin-right: 0;
    }

     h4 {
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        line-height: 1.5;
    }
    .events_frame .text_frame {
        padding: 0 0 0 10px;
       
    }
    .day {
        font-size: 13px;
   
    }
    .events_frame .print__link {
        margin-bottom: 20px;
        height: 187px;
    }
    .year {
        font-size: 12px;
        margin-bottom: 0px;
    }
    .events_frame {
        padding-top: 0;
        padding: 10px 9px;
    }

    .events_frame .print__image {
        width: 180px;
        height: 175px;
    }

    
    .date_box_row .date_box {
        width: 60px;
    }
    .events_frame .arrow-wrap {
        position: absolute;
        bottom: 54px;
        right: 56px;
        display: none;
    }
    .date_box_row .date_line {
        background-color: #5A5657;
        /* width: 43px; */
        margin: 0 3px;
    }
  
}