.body{
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
font-family: 'Sarabun', sans-serif;}

.wrapper{
margin:0 auto;
background-image: url(/pic/bg_ig.png);
background-size: cover;
    
}

nav{
    background-color: #E64B38;
    height: 100px;
}

header{
    height: 20vh;
}
.header-menu {
	display: flex;
	position: absolute;
	height: 100px;
	width: 500px;
	left: 20px;
	align-items: center; 
	z-index: 2;
	background-color: #E64B38;

    text-transform: uppercase;
}

.logo {
	position: relative;
    margin: 0 auto;
	width: 20vw;
    top:-80px;
    z-index:30

	}
	
	
.header-menu li{
	/* box-sizing: border-box; */
	flex-grow:1;  
}

.header-menu a {
	line-height:100px;
	width: 100%;
	font-size: .95rem;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	transition: .2s ease-out;}

    .header-menu a:hover {


        color: #b2876f;
          font-weight: bold;

          text-transform: uppercase;
          text-decoration: none;
        position: relative;
        z-index: 99;
    }
	
.menu_icon {   
    position: absolute;
    right: 39px;}

	.header-icon {
		margin-left:30px;
		display: inline-flex;
        text-align: center;
		line-height: 100px;
        width: 20px;
        z-index: 10; 
	}
    svg {height: 100px;
        color: #fff;;}


/*-----------_large----------- */

.events_large{
    padding: 0 11vw;
    box-sizing: border-box;
    margin-bottom: 20vh;

    align-items:center;
    justify-content:center;}
/*  */
    	

		
    .events_large .arrow-wrap{
	position:absolute;
	bottom: 29px;
	right: 30px;
	
    }




.store_frame {
    padding:  5% 10%;}

.store_frame .store__link{
    padding: 1vw;
}



.store_frame .print__image{
   
aspect-ratio:  0.9/1;
object-fit: cover;
transform: scale(1.05);
transform-origin: center center;
transition: transform .3s cubic-bezier(.15,.62,.43,.8);}



.store_frame .price{
    font-size: 19px;
    line-height: 35px;
    padding-left: 4px;
    text-align: left;
    color: #000;
    width: 100%;
    margin: 8px 5px;

}

h5{
	text-align: center;
	padding: 20px 10px;
	text-align: left;
}

.store_all{
    display: flex;
    justify-content:  right;
    align-items: center;
    height: 60px;
    /* position: absolute;
    right: 100px; */
}

.store_all li {
margin-left: 80px;
margin-top: 100px;


}

.grid{
    display: grid;
    grid-template-columns: 298px 298px 298px 298px;
    grid-template-rows:auto ;
	grid-row-gap: 1.2vw ;
	grid-column-gap: 0.1vw ;
}

@media screen and (max-width: 1500px) 
{
    .grid{
    display: grid;
    grid-template-columns: 298px 298px 298px ;
    grid-template-rows:auto ;
	grid-row-gap: 1.2vw ;
	grid-column-gap: 0.1vw ;}
    
}

.store_line{
    content:'';
	display: block;

	border-top: 1px solid;
	color:#E64B38;
   
    
}


/* ============================================= */
.p-header__list{
    margin-top: 2vh;
    display:flex;
    justify-content:center;
    align-items:center;} 

.p-header__item{
    margin: 0 4px;
    position:relative}
    
.p-header__item:before{content:"";
        display:none;position:absolute;top:-2px;left:-12px;width:100%;
        height:100%;background-color:transparent;
        border-top:1px solid #ffffff;border-radius:20px 20px 0 0}

@media screen and (min-width:801px){
.p-header__item:hover .p-header__link:before{transform:translate(0,0)}
.p-header__item:hover .p-header__link .text{color:#E64B38 }}

.p-header__item.is-current .p-header__link:before{transform:translate(0,0)}
.p-header__item.is-current .p-header__link .text{color:#E64B38}


.p-header__link{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 22px;
    width:120px;
    line-height:40px;
    border-radius:10px;
    background-color:hsl(7, 78%, 56% ,30%);
    padding:0 9px;
    border:2px solid  rgb(230, 75, 56 , 40%);
  
    overflow:hidden;position:relative;
    text-decoration: none;}
       
/* @media screen and (max-width:800px){.p-header__link{border-top:none;border-radius:0 0 5px 5px;height:40px;line-height:40px}}*/
    .p-header__link:before{
        content:"";
        display:block;position:absolute;
        align-items:center;
        top:0;left:0;
        width:100%;height:100%;
        transform:translate(0%,100%);
        border-radius:8px;
        background-color:#fff;
        z-index:1;
        transition:transform .3s cubic-bezier(.15,.62,.43,.8)} 
        
/* @media screen and (max-width:800px){.p-header__link:before{border-radius:0}}.p-header__link .icon{margin:0 5px 0 0;position:relative;z-index:2} */
@media screen and (max-width:800px){
    .p-header__link .icon{margin:0}}
    .p-header__link .text{color:#E64B38;
        font-weight:400;
        font-size:16px;
        letter-spacing:.065em;
        position:relative;
        z-index:2}
/* @media screen and (max-width:800px){.p-header__link .text{font-size:13px;letter-spacing:.035em}} */



/* ------------------------排版樣式-------------------------*/
.print__link{
	/* position:relative; */
	display:block;
	background-color:#fff;
	border-radius:20px;
	border-top:2px solid #c8c8c8;
	border-right:4px solid #F6DFA4;
	border-bottom:4px solid #F6DFA4;
	border-left:2px solid #c8c8c8;
	box-shadow:5px 5px  rgb(230, 75, 56 , 40%) ;
	transform:translate(0,0);
	transition:all .2s cubic-bezier(.15,.62,.43,.8);
	padding:10px 10px 11px;
	margin-right: 20px;
	text-decoration: none;
}

.print__image{
	display: block;
	width: 100%;
	border-radius:12px;
	object-fit: cover;

    transform: scale(1.05);
    transform-origin: center center;
    transition: transform .3s cubic-bezier(.15,.62,.43,.8);}



    @media screen and (min-width:801px){
        .print__link:hover{box-shadow:0 0;transform:translate(3px,3px)}}

       
/* 按鈕 */

   @media screen and (max-width:800px){
               .print__link{border-radius:10px;padding:22px 22px 0}}
               .print__link .c-arrow:before{top:calc(50% - 1px)}

   @media screen and (min-width:801px){
               .print__link:hover .c-arrow:before{
               transform:translate(0,0);
               transition:all .2s .2s cubic-bezier(.15,.62,.43,.8)}
               .print__link:hover .c-arrow .arrow{
               transform:rotate(45deg) translate(2px,-2px);
               transition:all .15s .28s cubic-bezier(.15,.62,.43,.8)}
               .print__link:hover .c-arrow .circle{
               transform:rotate(-2deg);
               transition:all .2s cubic-bezier(.15,.62,43,.8)}
               .print__link:hover .c-arrow .circle circle	{stroke-dasharray:0 105.76px;transition:all .2s cubic-bezier(.15,.62,43,.8)}
               .print__link:hover .print__image ,
               .print__link:hover .c-news__image img{
               transform:scale(1);
               transition:transform .6s cubic-bezier(.15,.62,.43,.8)}}
 

   @media screen and (max-width:800px){.c-news__time{border-radius:5px}}							
               .print__link:hover .c-arrow .arrow{
               transform:rotate(45deg) translate(2px,-2px);
               transition:all .15s .28s cubic-bezier(.15,.62,.43,.8)}
               .print__link:hover .c-arrow .circle{
               transform:rotate(-2deg);
               transition:all .2s cubic-bezier(.15,.62,.43,.8)}
               .print__link:hover .c-arrow .circle circle{
               stroke-dasharray:0 105.76px; transition:all .2s cubic-bezier(.15,.62,.43,.8)}
               .print__link:hover img{
               
               transform:scale(0.98);
               transition:transform .4s cubic-bezier(.15,.62,.43,.8)}