

@import url('reset.css');


body{
	background-color: #FFF5E6;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Sarabun', sans-serif;
	
	

}

/* ,menu */
.header-menu {
	display: flex;
	position: absolute;
	height: 50px;
	width: 55vw;
	right: 0px;
	padding: 2vh;
	align-items: center;
	z-index: 99;
	transition: .2s ease-out;}


.header-menu a:hover {
	

  	padding: 1em 0;
  	border-radius: 0;
	color: #b2876f;
  	font-weight: bold;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	text-decoration: none;
	position: relative;
	z-index: 99;
}

.header-menu li{
	box-sizing: border-box;
	flex-grow:1;
	z-index: 99;
}

.header-menu a {
	
	font-size: .95em;
	align-items: center;
	color: #FFFFFF;
	text-decoration: none;}
	

	.header-icon {
		margin-left: 40px;
		display: inline-flex;
		
	}

	.header-icon svg {
		width: 22px;
		margin-right: 20px;

	}

/*------------ 字型樣式 & ------------*/
h1{
	font-size: 1.925rem;
	font-family: "Sarabun""Noto Sans";}

h4{ 
	font-family: 'Noto Sans';
	font-weight: 500;
	font-size: 1.21em;
	line-height: 45px;
	letter-spacing: 0.04em;
	color: #000000;
}

h5{
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size:1.2rem;
	line-height: 1.7rem;
	letter-spacing: .4px;
	/* margin-left: 40px; */
	color: #000000;
}

.line1 {
	content:'';
	display: block;

	border-top: 3px solid;
	color:#E64B38;
}

p {color: #000000;}
	
/* ------part 標題位置------- */

.part-title1{
	text-align: left;
    margin-top:8%;
    position: relative;
	color: #000000;
	width: 250px;
	padding:40px 0 20px 40px;	
}



.part-title2{
	text-align: left;
	position: relative;
	margin-left: 13%;
	color: #000000;
	width: 250px;
	
}


.part-title3{
	margin-left: 8%;
	color: #000000;

	
}
.part-title4 {
	text-align: left;
	position: relative;
	margin-left: 30%;
	color: #000000;
}


.part-title5{
	text-align: left;
	position: absolute;
	color: #000000;
	margin-left: 20%;
	

}


/* ------------首頁圖 ------------*/

main {
	height: 945px ;
	background: #E64B38;
	position: relative;
    overflow: hidden;}


.logo-line {
	position: absolute;
	left: 18vw;
	top: 233px;
	width: 400px;

	}
	
.logo-line .line-c {
	position: absolute;

	border-left: 1px solid #FFFFFF;
	height: 960px;

	top:-233px;
	left: 44%;
	z-index: 4;
}

.logo-line .line-r {
	position: absolute;
	width: 100vw;
	left: -18vw;
	top: 151px;
	
	border-top: 1px solid #FFFFFF; 
	z-index: 4;

}
	

.index-print{
	position: relative;
	left:37vw;
	top: 20vh;
	z-index: 30;
	}
	

.small1 {
	position: absolute;
	left: 0px;
	top: 495px;
}

.small2 {
	position: absolute;
	left: 560px;
	top: 624px;
}

.summary{
	display: block;
	position: absolute;
	width: 356px;
	height: 45px;
	left: 17.8vw;
	top: 560px;
	background: #F6DFA4;
	font-weight: 900;
	font-size: 24px	;
	line-height: 45px;
	text-align: center;
	letter-spacing: 0.211em;
	z-index: 100;
	}

/* ------------------ part1------------------------ ------------- */





.part1{
	
	max-width: 1200px;
	position: relative;
    padding: 0 5%;
	height: 900px;
    margin: 0 auto 60px;
	
}

/* illust1------ */


.part1-contain .img {
	position: absolute;
	width: auto;
	top: 11%;
	left: 35%;
	}


		.part1-contain .img .illust {
			position: relative;
			z-index: 18;transition: .5s  cubic-bezier(.15,.62,.43,.8)
		}
		.part1-contain .img .bg {
			position: absolute;
			top: -13%;
			left: 0;
			z-index: 14;}

.part1-contain .text{
    position: absolute;
    z-index: 20;
    left:58%;
	top:30%;
	}

.part1-contain .text .btn{
	font-size: 20px;
	font-weight: 500;
	color: #FFFFFF;
	display: block;
	margin: 40px auto;
	width: 120px;
	background-color: #E64B38;
	border-radius: 10px;
	text-align: center;
	line-height: 55px;
	text-decoration: none;
	
	border: 2px solid #c8c8c8;
	border-right:5px solid #c8c8c8;
	border-bottom:5px solid #c8c8c8;
	border-radius: 13px;
	transition:all .25s cubic-bezier(.15,.62,.43,.8)}
	
	.text .btn:hover{
		transform:translate(3px,3px);
		border: 2px solid #c8c8c8;
		transition:all .25s cubic-bezier(.15,.62,.43,.8)}




/* illust2------ */

.part1-contain li:nth-child(2) .img  {
	position: absolute;
	right:1%;
	left: auto;
	top:33%;
	transition: .5s  cubic-bezier(.15,.62,.43,.8)}

	.part1-contain li:nth-child(2) .img .illust{
		width: 90%;
		top:-30px;
	}

	.part1-contain li:nth-child(2) .text{
		left:80%;
		top:65%;
	}

/* illust3------ */

.part1-contain li:nth-child(3) .img  {
	position: absolute;
	left: auto;
	top:35%}

	.part1-contain li:nth-child(3) .img .illust{
		width: 95%;
		transition: .5s  cubic-bezier(.15,.62,.43,.8)
	}

	.part1-contain li:nth-child(3) .text{
		left: 8%;
		top:65%;
	}

/* illust4------ */

.part1-contain li:nth-child(4) .img  {
	position: absolute;
	width: auto;

	left: 34%;
	top:55%}

	.part1-contain li:nth-child(4) .img .illust{
		width: 95%;
		top:-20px;
		transition: .5s  cubic-bezier(.15,.62,.43,.8)}
		
	.part1-contain li:nth-child(4) .text{
		left: 50%;
		top:90%;
	}
/* hover */
	.img .illust:hover{
	transform:scale(.85);
		transition: .5s  cubic-bezier(.15,.62,.43,.8)}


/* --------------------------------------------------part2-------------------------------------------------------- */
.part2{
	width: auto;
	height: auto;
	margin-bottom: 7vh;

	/* overflow: hidden; */
}
.exhibi_large{
	padding-top:5vh;
	padding-left:28vw;
	position: relative;
}

@media screen and (max-width:1600px){
	.exhibi_large{
		padding-top:5vh;
		padding-left:15%;
		position: relative;
	}}

.exhibi{
	display: inline-flex;
	
}

.exhibi .print__link{
	padding: 20px;
	width: 100% ;
}

.exhibi li{
		width: 100%;
}


.exhibi .print__image{

	border-radius:12px;
	aspect-ratio:  1/1.3;
    object-fit: cover;
}


.exhibi h4{ 
	text-align: center;
	margin-top: 16px;
}

.exhibi .date_line {
	width:43px;

}
.exhibi .line1 {
	width: 95%;
	margin: 0 auto;

}
.exhibi_large .arrow-wrap{
	position:absolute;
	bottom: 30px;
	right: 29px;	
}

/* ---------------------------part3----------------------------- */

.part3{
	max-width: 1200px;
	height: 1000px;
	margin: 8% auto;
}

.workshop_large{
	margin:0 auto;
	padding-top:5% ;
	width: 85%;
}

.workshop_large .print__link{
	margin-bottom: 20px;
}

.workshop_large li{
	display: inline-flex;
	flex-direction: row;
	box-sizing: border-box;
}

.date_box_row{
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: flex-end; 
	margin-left: 12px; 
}

.workshop_large .print__image{
	margin-left: 8px;
	width: 50%;
}

.text_frame{
 	padding:45px 0 0 40px;
}

.date_box_row .date_line {
	background-color: #5A5657; 
    width: 43px;
    margin: 0 10px;
    }

.date_box_row .date_box{
	color: #5A5657;
	margin: auto;
	padding-top: 20px;
}

.time {
	font-size: 20px;
	color:#5A5657;
	font-family: 'Futura Lt BT';
	padding-left:20px ;
	line-height: 20px;
}
.workshop_large .arrow-wrap{
		position:absolute;
		bottom: 50px;
		right: 60px;	
}



/* ---------------------------part4----------------------------- */

.part4{
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 10vh;
	}
	
		

.interview_large{
	padding:  5% 5%;}



.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows:360px 360px ;
	grid-row-gap: 40px ;
	grid-column-gap: 40px ;

}


.date_box-small{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: -12%;
	top: 10.81%;
	width: 70px;
	height: 75px;
	background: #FFFFFF;
	border: 2px solid #E64B38;
	border-right:4px solid #E64B38;
	border-bottom:4px solid #E64B38;
	border-radius: 13px;
	text-decoration: none;
	}

	.date_box-small .date_line{
		background-color: #5A5657; 
		width: 100%;
		height: 2px;
		margin: 4px 0;
		/* padding-left: 10px; */
		
		}
	
.interview_large h5{
	text-align: center;
	padding: 20px 10px;
	text-align: left;
}
/* 
.interview_large {
	
    aspect-ratio:  1.559701493/1;
    object-fit: cover;
    transform: scale(1.05);
    transform-origin: center center;
    transition: transform .3s cubic-bezier(.15,.62,.43,.8);}
		 */
.interview_large .arrow-wrap{
	position:absolute;
	bottom: 29px;
	right: 30px;
	background-color: #fff;
}

.interview_large .line1{
	display: block;
	justify-items: left;
	width: 80%;
	position: absolute;
	margin-left: 10px;
	bottom: 13%;

}

/*------------------PART5--------------------------------------------------- */

.part5{
	max-width: 1200px;
	margin: 0% auto;	
	padding-top: 3vh;
		
}

.artspace_large{
	padding-top: 20vh;	
}
.artspace{
	display: flex;
	height: 300px;
	align-items: center;
	
}
.artspace__link{
	width: 100%;
	position: relative;
	margin-right: 20px;
    aspect-ratio:  1.6/1;
    object-fit: contain;
	transition:all .5s  cubic-bezier(.15,.62,.43,.8);
	z-index:22 ;
}

.artspace__link:hover{
	width: 200%;
	transition:all .5s  cubic-bezier(.15,.62,.43,.8)}




.background3{
		position: fixed;
		right:1%;
		left: auto;
		bottom: 1px;
		height:70% ;
		opacity: 10%;
		z-index: -99;
	} 

