@import url(./reset.css);


body{
	background-color: #FFF5E6;
	font-family: 'Noto Sans TC';
	

}

.wrapper {
	background-color: #E64B38;
	/* width: 100vw */

}
/* ,menu */
.header-menu {
	display: flex;
	position: absolute;
	height: 50px;
	width: 55vw;
	right: 0px;
	padding: 2vh;
	align-items: center;
}


.header-menu li{
	box-sizing: border-box;
	flex-grow:1;
}

.header-menu a {
	
	font-size: .95em;
	align-items: center;
	color: #FFFFFF;
	text-decoration: none;}
	

	.header-icon {
		margin-left: 40px;
		display: inline-flex;
		
	}

	.header-icon svg {
		width: 22px;
		margin-right: 20px;

	}


.header-menu a:hover {
	
	display: inline-block;
  	padding: 1em 0;
  	border-radius: 0;
	color: #b2876f;
  	font-weight: bold;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	text-decoration: none;
	position: relative;
}

/* ------------- part 標題樣式------------- */

.part-title{
	flex-direction: column;  
    width: 250px;
    height: 200px;
	color: #E64B38;
	z-index: 20;
}

.part-title .colunme-line {
		content: '';
		display: block;
		background-color: #E64B38;
		height: 107px;
		width: 12px;
		border-radius: 50px ;
		position: absolute;

	}

	.part-title .row-line {
		content: '';
		display: block;
		background-color: #E64B38;
		height: 12px;
		width: 250px;
		border-radius: 50px ;
		position: absolute;
	}

.part-title h1{
	font-size: 62.4px;
	font-family: "Sarabun";
	padding:40px 0 20px 40px;	
}

.part-title h3{
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 24px;
	line-height: 45px;
	padding-left: 40px;
}

/* ------------------------排版樣式-------------------------*/

.print__link{
	position:relative;
	display:block;
	background-color:#fff;
	border-radius:20px;
	border-top:2px solid #E64B38;
	border-right:2px solid #E64B38;
	border-bottom:2px solid #E64B38;
	border-left:2px solid #E64B38;
	box-shadow:4px 4px  #E64B38;
	transform:translate(0,0);
	transition:all .2s cubic-bezier(.15,.62,.43,.8);
	padding:22px 22px 0;
	height:100%;
	margin-right: 20px;
	text-decoration: none;
}


/* date */


	.date_box {
	display: flex;
	margin-left: 27px;
	color: #E64B38;}

    .date_box .year{
        font-size: 0.9375rem;
        font-family: 'FuturaPT-Light','微軟正黑體';
    }
    .date_box .date{
        font-size: 1.875rem;
        font-family: 'MyriadPro-Regular','微軟正黑體';
    }
    .date_box .line2 {
        background-color: #E64B38;
        width: 43px;
        height: 2px;
        margin: 50px 10px 0 10px;
    }
        

/*------------ 字型樣式 ------------*/

h4{ 
	font-family: 'Noto Sans';
	font-weight: 600;
	font-size: 23px;
	line-height: 45px;
	color: #000000;
}

/* ------part 標題位置------- */

.part-title1{
	text-align: left;
    margin: 10% 0 0 0;
    position: relative;
	color: #000000;
}

.part-title2{
	text-align: left;
	position: relative;
	margin-left: 13%;
	color: #000000;
}

.part-title3{
	text-align: left;
	position: relative;
	margin-left: 20%;
	color: #000000;
}


.part-title4{

}

.part-title5{

}





/* ------------首頁圖 ------------*/

main {
	height: 945px ;
	width: 100%;
	overflow: hidden; 
	 /* 遮住 */

	 /* order:1 */
	 
	                                                                    
}

/* .logo-line {

	width: 100%;
} */

.logo-line {
	position: absolute;
	left: 18vw;
	top: 233px;
	width: 400px;

	}
	
.logo-line .line-c {
	position: absolute;

	border-left: 1px solid #FFFFFF;
	height: 960px;

	top:-233px;
	left: 44%;
	z-index: 4;
}

.logo-line .line-r {
	position: absolute;
	width: 100vw;
	left: -18vw;
	top: 151px;
	
	border: 1px solid #FFFFFF; 
	z-index: 4;

}
	

.index-print{
	position: relative;
	left:37vw;
	top: 20vh;
	z-index: 30;
	}
	

.small1 {
	position: absolute;
	left: 0px;
	top: 495px;
}

.small2 {
	position: absolute;
	left: 560px;
	top: 624px;
}


.summary{
	display: block;
	position: absolute;
	width: 356px;
	height: 45px;
	left: 17.8vw;
	top: 560px;
	background: #F6DFA4;
	font-weight: 900;
	font-size: 24px	;
	line-height: 45px;
	text-align: center;
	letter-spacing: 0.211em;
	z-index: 55;
	}

/* ------------------ part1------------------------ ------------- */


.part1{
	background-color:#FFF5E6;
	max-width: 1200px;
	position: relative;
	/* box-sizing: border-box; */
    padding: 0 5%;
	height: 900px;
    margin: 0 auto 60px;
	/* order: 2; */
}



/* illust1------ */


ul .part1-contain{
	
	box-sizing: border-box;
}

li .img {
	position: absolute;
	width: auto;
	top: 11%;
	left: 35%;}

		.part1-contain .img .illust {
			position: relative;
			z-index: 18;
		}
		.part1-contain .img .bg {
			position: absolute;
			top: -13%;
			left: 0;
			z-index: 14;}

li .text{
    position: absolute;
    z-index: 20;
    left:70%;
	}

	li .text a{
		display: block;
		text-align: center;
		width: 120px;
		height: 60px;
		line-height:60px;
		font-weight: 500;
		font-size: 24px;
		color: #FFFFFF;
		text-decoration: none;
		/* red */
		background: #E64B38;
		/* #FFFFFF */
		border-width: 2px 6px 6px 2px;
		border-style: solid;
		border-color: #FFFFFF;
		border-radius: 16px;
	}
/* illust2------ */

.part1-contain li:nth-child(2) .img  {
	position: absolute;
	right:1%;
	left: auto;
	top:33%;}

	.part1-contain li:nth-child(2) .img .illust{
		width: 90%;
		top:-30px;
	}

	.part1-contain li:nth-child(2) .text{
		left:80%;
		top:65%;
	}

/* illust3------ */

.part1-contain li:nth-child(3) .img  {
	position: absolute;
	left: auto;
	top:35%}

	.part1-contain li:nth-child(3) .img .illust{
		width: 95%;
	}

	.part1-contain li:nth-child(3) .text{
		left: 8%;
		top:65%;
	}

/* illust4------ */

.part1-contain li:nth-child(4) .img  {
	position: absolute;
	width: auto;

	left: 34%;
	top:55%}

	.part1-contain li:nth-child(4) .img .illust{
		width: 95%;
		top:-20px;
	}

	.part1-contain li:nth-child(4) .text{
		left: 50%;
		top:90%;
	}
/* ---------------------------part2----------------------------- */
.part2{
	max-width: 1200px;
	height: 950px;
	/* overflow: hidden; */
}
.exhibi_inner{
	padding: 3vh 0px 0px 21vw;
	position: relative;
}
.exhibi{
	display: inline-flex;
	padding-top: 39px;
	
	
	}

.exhibi li img{
	display: block;
	width: 100%;
	border-radius:12px;
	transition:transform .4s cubic-bezier(.15,.62,.43,.8)}
	

.exhibi h4{ 
	text-align: center;
	margin-top: 15px;
}

.exhibi .date_box {
	display: flex;
	margin-left: 27px;
	color: #E64B38;
}
.exhibi .line1 {
	content:'';
	display: block;
	border: 2px solid #E64B38;
	width: 95%;
	margin: 0 auto;
}
.exhibi li .year{
	font-size: 0.9375rem;
    font-family: 'FuturaPT-Light','微軟正黑體';
}
.exhibi li .date{
    font-size: 1.875rem;
    font-family: 'MyriadPro-Regular','微軟正黑體';
}
.exhibi li .line2 {
	background-color: #E64B38;
    width: 43px;
    height: 2px;
    margin: 50px 10px 0 10px;
}
.exhibi li{
	height: 550px;
	width: 290px;
    padding: 10px 10px 0;
}

/* ---------------------------part3----------------------------- */







/*------------------arrow-------------------- */

.arrow-wrap{
	position:absolute;
	bottom: 18px;
	right: 29px;	
}
		.c-arrow{
			position:relative;
			left:15px;
			width:36px;
			height:36px;
			display:flex;
			align-items:center;
			justify-content:center;
			overflow:hidden}
		/* 動畫線 */
		.c-arrow:before{ 
			content:"";
			display:block;
			position:absolute;
			top:calc(50% - 1px);
			left:0;
			width:17px;
			height:2px;background-color:#E64B38;
			transform:translate(-100%,0);
			transition:all .25s cubic-bezier(.15,.62,.43,.8)}
		.c-arrow .circle{
			position:absolute;top:0;left:0;
			width:36px;
			height:36px;
			overflow:visible;
			transform:rotate(-90deg);
			transition:all .25s .25s cubic-bezier(.15,.62,.43,.8)}
		.c-arrow .circle circle{
			fill:none;
			stroke:#E64B38;
			stroke-width:2px;
			stroke-dasharray:53.38px 53.38px;
			stroke-dashoffset:53.38px;
			transition:all .25s .25s cubic-bezier(.15,.62,.43,.8)}
		.c-arrow .arrow{
			position:relative;
			left:-2px;
			display:block;
			width:7px;height:7px;
			border-top:2px solid #E64B38;
			border-right:2px solid #E64B38;
			transform:rotate(45deg) translate(0,0);
			transition:all .25s cubic-bezier(.15,.62,.43,.8)}
			.c-btn.is-arrow-small 
			.c-arrow{transform:scale(.7)}

/* 陰影 */
			@media screen and (min-width:801px){
				.print__link:hover{box-shadow:0 0;transform:translate(3px,3px)}}

			
/* 按鈕 */

		@media screen and (max-width:800px){
					.print__link{border-radius:10px;padding:22px 22px 0}}
					.print__link .c-arrow:before{top:calc(50% - 1px)}

		@media screen and (min-width:801px){
						.print__link:hover .c-arrow:before{
						transform:translate(0,0);
						transition:all .2s .2s cubic-bezier(.15,.62,.43,.8)}
						.print__link:hover .c-arrow .arrow{
						transform:rotate(45deg) translate(2px,-2px);
						transition:all .15s .28s cubic-bezier(.15,.62,.43,.8)}
						.print__link:hover .c-arrow .circle{
						transform:rotate(-2deg);
						transition:all .2s cubic-bezier(.15,.62,43,.8)}
						.print__link:hover .c-arrow .circle circl	{stroke-dasharray:0 105.76px;transition:all .2s cubic-bezier(.15,.62,43,.8)}


			.print__link:hover .print__image ,
				.print__link:hover .c-news__image img{
											transform:scale(1);
											transition:transform .6s cubic-bezier(.15,.62,.43,.8)}}
					.c-news__time{
										position:absolute;top:48px;left:-15px;border:2px solid #221817;
										border-radius:10px;
										background-color:#fff;padding:15px 4px;z-index:3}
					@media screen and (max-width:800px)
												{.c-news__time{border-radius:5px}}
												
					.print__link:hover .c-arrow .arrow{
					transform:rotate(45deg) translate(2px,-2px);
					transition:all .15s .28s cubic-bezier(.15,.62,.43,.8)}
					.print__link:hover .c-arrow .circle{
						transform:rotate(-2deg);
						transition:all .2s cubic-bezier(.15,.62,.43,.8)}
					.print__link:hover .c-arrow .circle circle{
								stroke-dasharray:0 105.76px; transition:all .2s cubic-bezier(.15,.62,.43,.8)}
					.print__link:hover img{
								transform:scale(0.98);
								transition:transform .4s cubic-bezier(.15,.62,.43,.8)}
	
	

			