
  :root {
    --font-body-family: 'Noto Sans TC', sans-serif;
    --font-body-family: 'Sarabun', sans-serif;

    --font-body-scale: 1.2;

    --color-base-text: 34, 34, 34;
    --color-gray-text: 153, 153, 153;
    /* #999999 */
    --color-shadow: 34, 34, 34;
    --color-base-background-1: 255, 255, 255;
    --color-base-background-2: 249, 249, 248;
    --color-base-background-3: 252, 252, 249;
    --color-background-black: 26, 19, 17;
    /* #1A1311 */
    --color-background-yellow: 252, 252, 249;
    /* #FCFCF9 */
    --color-border: 204, 204, 204;
    /* #CCCCCC */
    --color-border-button: 112, 112, 112;
    /* #707070 */
    --color-base-solid-button-labels: 34, 34, 34;
    --color-base-outline-button-labels: 34, 34, 34;
    --color-base-accent-1: 255, 255, 255;
    --color-base-accent-2: 171, 181, 185;
    --media-border-opacity: 0.05;
    --media-border-width: 1px;
    --media-radius: 0px;
    --media-shadow-opacity: 0.0;
    --media-shadow-horizontal-offset: 0px;
    --media-shadow-vertical-offset: 0px;
    --media-shadow-blur-radius: 0px;

    --page-width: 116.8rem;
    --page-width-margin: 0rem;

    --card-image-padding: 0.0rem;
    --card-corner-radius: 0.6rem;
    --card-text-alignment: left;
    --card-border-width: 0.0rem;
    --card-border-opacity: 0.0;
    --card-shadow-opacity: 0.1;
    --card-shadow-horizontal-offset: 0.0rem;
    --card-shadow-vertical-offset: 0.0rem;
    --card-shadow-blur-radius: 0.0rem;

    --badge-corner-radius: 0.0rem;

    --popup-border-width: 1px;
    --popup-border-opacity: 0.1;
    --popup-corner-radius: 0px;
    --popup-shadow-opacity: 0.0;
    --popup-shadow-horizontal-offset: 0px;
    --popup-shadow-vertical-offset: 0px;
    --popup-shadow-blur-radius: 0px;

    --drawer-border-width: 1px;
    --drawer-border-opacity: 0.1;
    --drawer-shadow-opacity: 0.0;
    --drawer-shadow-horizontal-offset: 0px;
    --drawer-shadow-vertical-offset: 0px;
    --drawer-shadow-blur-radius: 0px;

    --spacing-sections-desktop: 0px;
    --spacing-sections-mobile: 0px;

    --grid-desktop-vertical-spacing: 40px;
    --grid-desktop-horizontal-spacing: 20px;
    --grid-mobile-vertical-spacing: 20px;
    --grid-mobile-horizontal-spacing: 10px;

    --text-boxes-border-opacity: 0.0;
    --text-boxes-border-width: 0px;
    --text-boxes-radius: 0px;
    --text-boxes-shadow-opacity: 0.0;
    --text-boxes-shadow-horizontal-offset: 0px;
    --text-boxes-shadow-vertical-offset: 0px;
    --text-boxes-shadow-blur-radius: 0px;

    --buttons-radius: 0px;
    --buttons-radius-outset: 0px;
    --buttons-border-width: 1px;
    --buttons-border-opacity: 1.0;
    --buttons-shadow-opacity: 0.0;
    --buttons-shadow-horizontal-offset: 0px;
    --buttons-shadow-vertical-offset: 0px;
    --buttons-shadow-blur-radius: 0px;
    --buttons-border-offset: 0px;

    --inputs-radius: 0px;
    --inputs-border-width: 1px;
    --inputs-border-opacity: 0.45;
    --inputs-shadow-opacity: 0.0;
    --inputs-shadow-horizontal-offset: 0px;
    --inputs-margin-offset: 0px;
    --inputs-shadow-vertical-offset: 0px;
    --inputs-shadow-blur-radius: 0px;
    --inputs-radius-outset: 0px;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    font-size: calc(var(--font-body-scale) * 62.5%);
    height: 100%;
  }

  body {

    min-height: 100%;
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: 0.025em;
    line-height: calc(1 + 0.866667 / var(--font-body-scale));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);

  }

  @media screen and (min-width: 750px) {
    body {
      font-size: 1.5rem;
    }
  }
